# Prediction
- Robert Shaw
- CS109a Project: Data Driven March Madness

In this file, we make predictions for years 2015-16 using the methods tuned on years 2001-2013 (see modeling files). We make both a single prediction bracket for an office pool type setting, as well as 10 brackets for ESPN bracket challenge. We compare our results to the ESPN field.

In [1]:
import march_madness_classes as mmc
import march_madness_games as mmg
import march_madness_models as mmm
import march_madness_train_and_tune as mmtt

import pandas as pd
import numpy as np
import importlib
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression as LogReg

In [2]:
# read in the dataset
teams = pd.read_csv("datasets/kaggle_data_2021/MTeams.csv")
seeds = pd.read_csv("datasets/kaggle_data_2021/MNCAATourneySeeds.csv")
slots = pd.read_csv("datasets/kaggle_data_2021/MNCAATourneySlots.csv")
games = pd.read_csv("datasets/kaggle_data_2021/MNCAATourneyCompactResults.csv")
#games_2016 = pd.read_csv("datasets/kaggle_data_2021/MNCAATourneyCompactResults2016.csv")

seeds_arr = mmg.filter_into_seasons(seeds)
slots_arr = mmg.filter_into_seasons(slots)
games_arr = mmg.filter_into_seasons(games)

#games_arr.append(games_2016)

In [23]:
games_arr

[    Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 0     1985     136     1116      63     1234      54    N      0
 1     1985     136     1120      59     1345      58    N      0
 2     1985     136     1207      68     1250      43    N      0
 3     1985     136     1229      58     1425      55    N      0
 4     1985     136     1242      49     1325      38    N      0
 ..     ...     ...      ...     ...      ...     ...  ...    ...
 58    1985     146     1385      69     1301      60    N      0
 59    1985     146     1437      56     1314      44    N      0
 60    1985     152     1207      77     1385      59    N      0
 61    1985     152     1437      52     1272      45    N      0
 62    1985     154     1437      66     1207      64    N      0

 [63 rows x 8 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 63     1986     136     1133      83     1431      65    N      0
 64     1986     136     1177      72     1438      68    N      0
 65     1986     136     1181      85     1290      78    N      0
 66     1986     136     1207      70     1403      64    N      0
 67     1986     136     1210      68     1265      53    N      0
 ..      ...     ...      ...     ...      ...     ...  ...    ...
 121    1986     146     1181      71     1298      50    N      0
 122    1986     146     1242      75     1301      67    N      0
 123    1986     152     1181      71     1242      67    N      0
 124    1986     152     1257      88     1261      77    N      0
 125    1986     154     1257      72     1181      69    N      0

 [63 rows x 8 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 126    1987     136     1104      88     1299      71    N      0
 127    1987     136     1120      62     1360      61    N      0
 128    1987     136     1122      68     1228      67    N      0
 129    1987     136     1181      58     1401      51    N      0
 130    1987     136     1231      92     1193      58    N      0
 ..      ...     ...      ...     ...      ...     ...  ...    ...
 184    1987     146     1231      77     1261      76    N      0
 185    1987     146     1424      84     1234      81    N      0
 186    1987     152     1231      97     1424      93    N      0
 187    1987     152     1393      77     1344      63    N      0
 188    1987     154     1231      74     1393      73    N      0

 [63 rows x 8 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 189    1988     136     1120      90     1133      86    N      0
 190    1988     136     1140      98     1150      92    N      1
 191    1988     136     1177      83     1455      62    N      0
 192    1988     136     1181      85     1131      69    N      0
 193    1988     136     1196      62     1385      59    N      0
 ..      ...     ...      ...     ...      ...     ...  ...    ...
 247    1988     146     1112      70     1314      52    N      0
 248    1988     146     1242      71     1243      58    N      0
 249    1988     152     1242      66     1181      59    N      0
 250    1988     152     1328      86     1112      78    N      0
 251    1988     154     1242      83     1328      79    N      0

 [63 rows x 8 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 252    1989     136     1112      94     1352      60    N      0
 253    1989     136     1116     120     1258     101    N      0
 254    1989     136     1123      68     1338      64    N      0
 255    1989     136     1155      83     1388      70    N      0
 256    1989     136     1177      66     1272      63    N      0
 ..      ...     ...      ...     ...      ...     ...  ...    ...
 310    1989     146     1181      85     1207      77    N      0
 311    1989     146     1228      89     1393      86    N      0
 312    1989     152     1276      83     1228      81    N      0
 313    1989     152     1371      95     1181      78    N      0
 314    1989     154     1276      80     1371      79    N      1

 [63 rows x 8 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 315    1990     136     1116      68     1343      64    N      0
 316    1990     136     1123      54     1333      53    N      0
 317    1990     136     1143      65     1231      63    N      0
 318    1990     136     1155      49     1140      47    N      0
 319    1990     136     1163      76     1131      52    N      0
 ..      ...     ...      ...     ...      ...     ...  ...    ...
 373    1990     146     1210      93     1278      91    N      0
 374    1990     146     1424     131     1258     101    N      0
 375    1990     152     1181      97     1116      83    N      0
 376    1990     152     1424      90     1210      81    N      0
 377    1990     154     1424     103     1181      73    N      0

 [63 rows x 8 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 378    1991     136     1112      93     1384      80    N      0
 379    1991     136     1140      61     1438      48    N      0
 380    1991     136     1163      79     1261      62    N      0
 381    1991     136     1166      64     1308      56    N      0
 382    1991     136     1181     102     1419      73    N      0
 ..      ...     ...      ...     ...      ...     ...  ...    ...
 436    1991     146     1181      78     1385      61    N      0
 437    1991     146     1314      75     1396      72    N      0
 438    1991     152     1181      79     1424      77    N      0
 439    1991     152     1242      79     1314      73    N      0
 440    1991     154     1181      72     1242      65    N      0

 [63 rows x 8 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 441    1992     136     1104      80     1390      75    N      0
 442    1992     136     1116      80     1293      69    N      0
 443    1992     136     1163      86     1304      65    N      0
 444    1992     136     1181      82     1144      56    N      0
 445    1992     136     1199      78     1285      68    N      0
 ..      ...     ...      ...     ...      ...     ...  ...    ...
 499    1992     146     1153      88     1272      57    N      0
 500    1992     146     1276      75     1326      71    N      1
 501    1992     152     1181      81     1231      78    N      0
 502    1992     152     1276      76     1153      72    N      0
 503    1992     154     1181      71     1276      51    N      0

 [63 rows x 8 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 504    1993     136     1116      94     1221      64    N      0
 505    1993     136     1140      80     1374      71    N      0
 506    1993     136     1143      66     1261      64    N      0
 507    1993     136     1181     105     1356      70    N      0
 508    1993     136     1199      82     1191      70    N      0
 ..      ...     ...      ...     ...      ...     ...  ...    ...
 562    1993     146     1276      77     1396      72    N      0
 563    1993     146     1314      75     1153      68    N      1
 564    1993     152     1276      81     1246      78    N      1
 565    1993     152     1314      78     1242      68    N      0
 566    1993     154     1314      77     1276      71    N      0

 [63 rows x 8 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 567    1994     136     1104      76     1344      70    N      0
 568    1994     136     1163      64     1351      46    N      0
 569    1994     136     1196      64     1241      62    N      0
 570    1994     136     1203      51     1412      46    N      0
 571    1994     136     1242     102     1151      73    N      0
 ..      ...     ...      ...     ...      ...     ...  ...    ...
 625    1994     146     1116      76     1276      68    N      0
 626    1994     146     1196      74     1130      66    N      0
 627    1994     152     1116      91     1112      82    N      0
 628    1994     152     1181      70     1196      65    N      0
 629    1994     154     1116      76     1181      72    N      0

 [63 rows x 8 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 630    1995     136     1104      91     1335      85    N      1
 631    1995     136     1113      81     1123      66    N      0
 632    1995     136     1153      77     1396      71    N      0
 633    1995     136     1163     100     1151      71    N      0
 634    1995     136     1242      82     1159      68    N      0
 ..      ...     ...      ...     ...      ...     ...  ...    ...
 688    1995     146     1116      68     1438      61    N      0
 689    1995     146     1329      68     1269      54    N      0
 690    1995     152     1116      75     1314      68    N      0
 691    1995     152     1417      74     1329      61    N      0
 692    1995     154     1417      89     1116      78    N      0

 [63 rows x 8 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 693    1996     136     1116      86     1336      80    N      0
 694    1996     136     1163      68     1159      59    N      0
 695    1996     136     1180      75     1272      63    N      0
 696    1996     136     1185      75     1181      60    N      0
 697    1996     136     1208      81     1155      74    N      0
 ..      ...     ...      ...     ...      ...     ...  ...    ...
 751    1996     146     1280      73     1153      63    N      0
 752    1996     146     1393      60     1242      57    N      0
 753    1996     152     1246      81     1269      74    N      0
 754    1996     152     1393      77     1280      69    N      0
 755    1996     154     1246      76     1393      67    N      0

 [63 rows x 8 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 756    1997     136     1112      65     1375      57    N      0
 757    1997     136     1130      73     1434      66    N      0
 758    1997     136     1143      55     1343      52    N      0
 759    1997     136     1153      86     1139      69    N      0
 760    1997     136     1158      75     1268      66    N      0
 ..      ...     ...      ...     ...      ...     ...  ...    ...
 814    1997     146     1112      96     1344      92    N      1
 815    1997     146     1314      97     1257      74    N      0
 816    1997     152     1112      66     1314      58    N      0
 817    1997     152     1246      78     1278      69    N      0
 818    1997     154     1112      84     1246      79    N      1

 [63 rows x 8 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 819    1998     136     1112      99     1311      60    N      0
 820    1998     136     1116      74     1304      65    N      0
 821    1998     136     1150      77     1227      62    N      0
 822    1998     136     1153      65     1319      62    N      0
 823    1998     136     1163      93     1192      85    N      0
 ..      ...     ...      ...     ...      ...     ...  ...    ...
 877    1998     146     1246      86     1181      84    N      0
 878    1998     146     1390      79     1348      77    N      0
 879    1998     152     1246      86     1390      85    N      1
 880    1998     152     1428      65     1314      59    N      0
 881    1998     154     1246      78     1428      69    N      0

 [63 rows x 8 columns],
      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 882    1999     136     1116      94     1373      80    N      0
 883    1999     136     1120      80     1457      41    N      0
 884    1999     136     1163      91     1427      66    N      0
 885    1999     136     1166      62     1257      58    N      0
 886    1999     136     1178      56     1417      53    N      0
 ..      ...     ...      ...     ...      ...     ...  ...    ...
 940    1999     146     1181      85     1396      64    N      0
 941    1999     146     1277      73     1246      66    N      0
 942    1999     152     1163      64     1326      58    N      0
 943    1999     152     1181      68     1277      62    N      0
 944    1999     154     1163      77     1181      74    N      0

 [63 rows x 8 columns],
       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 945     2000     136     1112      71     1238      47    N      0
 946     2000     136     1120      72     1166      69    N      0
 947     2000     136     1211      77     1257      66    N      0
 948     2000     136     1235      88     1148      78    N      0
 949     2000     136     1246      85     1382      80    N      2
 ...      ...     ...      ...     ...      ...     ...  ...    ...
 1003    2000     146     1196      77     1329      65    N      0
 1004    2000     146     1314      59     1409      55    N      0
 1005    2000     152     1196      71     1314      59    N      0
 1006    2000     152     1277      53     1458      41    N      0
 1007    2000     154     1277      89     1196      76    N      0

 [63 rows x 8 columns],
       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 1008    2001     134     1322      71     1457      67    N      0
 1009    2001     136     1130      68     1381      65    N      0
 1010    2001     136     1153      84     1140      59    N      0
 1011    2001     136     1181      95     1284      52    N      0
 1012    2001     136     1207      63     1116      61    N      0
 ...      ...     ...      ...     ...      ...     ...  ...    ...
 1067    2001     146     1112      87     1228      81    N      0
 1068    2001     146     1277      69     1396      62    N      0
 1069    2001     152     1112      80     1277      61    N      0
 1070    2001     152     1181      95     1268      84    N      0
 1071    2001     154     1181      82     1112      72    N      0

 [64 rows x 8 columns],
       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 1072    2002     134     1373      81     1108      77    N      0
 1073    2002     136     1104      86     1194      78    N      0
 1074    2002     136     1112      86     1364      81    N      0
 1075    2002     136     1181      84     1457      37    N      0
 1076    2002     136     1231      75     1428      56    N      0
 ...      ...     ...      ...     ...      ...     ...  ...    ...
 1131    2002     146     1242     104     1332      86    N      0
 1132    2002     146     1268      90     1163      82    N      0
 1133    2002     152     1231      73     1328      64    N      0
 1134    2002     152     1268      97     1242      88    N      0
 1135    2002     154     1268      64     1231      52    N      0

 [64 rows x 8 columns],
       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 1136    2003     134     1421      92     1411      84    N      1
 1137    2003     136     1112      80     1436      51    N      0
 1138    2003     136     1113      84     1272      71    N      0
 1139    2003     136     1141      79     1166      73    N      0
 1140    2003     136     1143      76     1301      74    N      1
 ...      ...     ...      ...     ...      ...     ...  ...    ...
 1195    2003     146     1393      63     1328      47    N      0
 1196    2003     146     1400      85     1277      76    N      0
 1197    2003     152     1242      94     1266      61    N      0
 1198    2003     152     1393      95     1400      84    N      0
 1199    2003     154     1393      81     1242      78    N      0

 [64 rows x 8 columns],
       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 1200    2004     134     1197      72     1250      57    N      0
 1201    2004     136     1104      65     1356      64    N      0
 1202    2004     136     1163      70     1436      53    N      0
 1203    2004     136     1177      76     1173      69    N      2
 1204    2004     136     1181      96     1106      61    N      0
 ...      ...     ...      ...     ...      ...     ...  ...    ...
 1259    2004     146     1181      66     1462      63    N      0
 1260    2004     146     1210      79     1242      71    N      1
 1261    2004     152     1163      79     1181      78    N      0
 1262    2004     152     1210      67     1329      65    N      0
 1263    2004     154     1163      82     1210      73    N      0

 [64 rows x 8 columns],
       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 1264    2005     134     1324      79     1105      69    N      0
 1265    2005     136     1112      66     1429      53    N      0
 1266    2005     136     1130      85     1335      65    N      0
 1267    2005     136     1153      76     1234      64    N      0
 1268    2005     136     1211      74     1457      64    N      0
 ...      ...     ...      ...     ...      ...     ...  ...    ...
 1323    2005     146     1277      94     1246      88    N      2
 1324    2005     146     1314      88     1458      82    N      0
 1325    2005     152     1228      72     1257      57    N      0
 1326    2005     152     1314      87     1277      71    N      0
 1327    2005     154     1314      75     1228      70    N      0

 [64 rows x 8 columns],
       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 1328    2006     134     1284      71     1214      49    N      0
 1329    2006     136     1104      90     1266      85    N      0
 1330    2006     136     1130      88     1334      76    N      2
 1331    2006     136     1181      70     1380      54    N      0
 1332    2006     136     1196      76     1375      50    N      0
 ...      ...     ...      ...     ...      ...     ...  ...    ...
 1387    2006     146     1196      75     1437      62    N      0
 1388    2006     146     1206      86     1163      84    N      1
 1389    2006     152     1196      73     1206      58    N      0
 1390    2006     152     1417      59     1261      45    N      0
 1391    2006     154     1196      73     1417      57    N      0

 [64 rows x 8 columns],
       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 1392    2007     134     1310      77     1197      69    N      0
 1393    2007     136     1130      84     1403      75    N      0
 1394    2007     136     1139      57     1330      46    N      0
 1395    2007     136     1207      80     1125      55    N      0
 1396    2007     136     1231      70     1211      57    N      0
 ...      ...     ...      ...     ...      ...     ...  ...    ...
 1451    2007     146     1196      85     1332      77    N      0
 1452    2007     146     1207      96     1314      84    N      1
 1453    2007     152     1196      76     1417      66    N      0
 1454    2007     152     1326      67     1207      60    N      0
 1455    2007     154     1196      84     1326      75    N      0

 [64 rows x 8 columns],
       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
 1456    2008     134     1291      69     1164      60    N      0
 1457    2008     136     1181      71     1125      70    N      0
 1458    2008     136     1242      85     1340      61    N      0
 1459    2008     136     1243      80     1425      67    N      0
 1460    2008     136     1266      74     1246      66    N      0
 ...      ...     ...      ...     ...      ...     ...  ...    ...
 1515    2008     146     1242      59     1172      57    N      0
 1516    2008     146     1272      85     1400      67    N      0
 1517    2008     152     1242      84     1314      66    N      0
 1518    2008     152     1272      78     1417      63    N      0
 1519    2008     154     1242      75     1272      68    N      1

 [64 rows x 8 columns],

In [3]:
# extract predictors, chosen from the variable selection notebook
markov          = pd.read_csv("datasets/our_data/stationary", index_col=0)
rpi             = pd.read_csv("datasets/our_data/regular_season_rpi_matrix", index_col=0)
bad_losses      = pd.read_csv("datasets/our_data/bad_losses_matrix", index_col=0)

# seeds
seed_matrix_df  = pd.read_csv("datasets/our_data/team_summary_data/seeds_matrix", index_col=0)

# get data into correct format
predictor_names = ["min_index_id", "max_index_id", "markov","rpi","bad_losses"] 

# package the predictors into an array
predictor_dfs = [markov, rpi, bad_losses]

We have 3 predictors, markov, rpi, and bad losses. See our data exploration/model selection for information on this.

In [27]:
importlib.reload(mmg)
importlib.reload(mmm)
importlib.reload(mmtt)

### 1) Setup Head to Head Models

In [16]:
games_arr[0]

    Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0     1985     136     1116      63     1234      54    N      0
1     1985     136     1120      59     1345      58    N      0
2     1985     136     1207      68     1250      43    N      0
3     1985     136     1229      58     1425      55    N      0
4     1985     136     1242      49     1325      38    N      0
..     ...     ...      ...     ...      ...     ...  ...    ...
58    1985     146     1385      69     1301      60    N      0
59    1985     146     1437      56     1314      44    N      0
60    1985     152     1207      77     1385      59    N      0
61    1985     152     1437      52     1272      45    N      0
62    1985     154     1437      66     1207      64    N      0

[63 rows x 8 columns]

In [81]:
train_test_arr = []

window   = 5
min_year = 2014
max_year = 2020
#training_yrs = [2016, 2017, 2018, 2019]

year_range = range(min_year, max_year)

# generate our train test split for each year
for year in year_range:
    # do the split for the current year
    train_test_tuple = mmtt.train_test_split(window, 
                                             year, 
                                             seeds_arr, 
                                             slots_arr, 
                                             games_arr, 
                                             predictor_names, 
                                             predictor_dfs)
    
    # add to our array
    train_test_arr.append(train_test_tuple)

24
2009
25
2010
26
2011
27
2012
28
2013
29
2014
25
2010
26
2011
27
2012
28
2013
29
2014
30
2015
26
2011
27
2012
28
2013
29
2014
30
2015
31
2016
27
2012
28
2013
29
2014
30
2015
31
2016
32
2017
28
2013
29
2014
30
2015
31
2016
32
2017
33
2018
29
2014
30
2015
31
2016
32
2017
33
2018
34
2019

Here we use a "windowing" approach. The head to head model is trained on the 3 years prior.

In [82]:
# our cross validated value of c, from variable selection notebook
c = 1
variables = ["markov","rpi","bad_losses"] 

# models and scalers to be fit
models  = []
scalers = []

for year in year_range:
        # get train data
        train_x = train_test_arr[year - min_year][0][variables]
        train_y = train_test_arr[year - min_year][1].values[:, 0]

        # get cross validation set
        cross_x = train_test_arr[year - min_year][2][variables]
        cross_y = train_test_arr[year - min_year][3].values[:, 0]

        # scaling
        scaler = StandardScaler().fit(train_x)
        scaled_train_x = scaler.transform(train_x)
        scaled_cross_x = scaler.transform(cross_x)

        # init model
        model = LogReg(C=c)

        # fit model
        model.fit(scaled_train_x, train_y)
        
        # append to our lis of models
        models.append(model)
        scalers.append(scaler)

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Fit head to head log reg model for predicting the outcomes of individual games.

---

### 2) Predict A Single Bracket

- a) Simulation, with Bias of .1 (Cross Validated in Other Files)

In [83]:
# setup simulator
simulators = []

i = 0
# iterate years
year_range = range(2021,2022)
for year in year_range: 
    # get data needed
    seeds_year = seeds_arr[year-1985] 
    slots_year = slots_arr[year-1985] 
    #games_year = games_arr[year-1985]
    
    # setup head to head model, simulator with .07 bias
    head_to_head_model_year = mmm.ModelPredictor(models[i], scalers[i], predictor_dfs, year, seeds_year, 
                                                 simulation=True,
                                                 higher_seed_bias=True,
                                                 higher_seed_bias_delta=.1)
    
    # setup simulator
    simulators.append(mmc.Simulator(seeds_year, slots_year, head_to_head_model_year))
    
    i = i + 1

In [84]:
# run simulations
i = 0
for year in year_range:
    # run simulation
    points = simulators[i].simulate_tournament(300) 
    
    # predict bracket based on the simulation
    bracket = simulators[i].predict_tournament()
    
    i = i + 1
    
    print(year)

2021

In [85]:
bracket.round_1_df['StrongSeedID'] = bracket.round_1_df['Strongseed Team'].astype(int)
bracket.round_1_df['WeakSeedID'] = bracket.round_1_df['Weakseed Team'].astype(int)
bracket.round_1_df['PredictionID'] = bracket.round_1_df['Prediction'].astype(int)
bracket.round_2_df['StrongSeedID'] = bracket.round_2_df['Strongseed Team'].astype(int)
bracket.round_2_df['WeakSeedID'] = bracket.round_2_df['Weakseed Team'].astype(int)
bracket.round_2_df['PredictionID'] = bracket.round_2_df['Prediction'].astype(int)
bracket.round_3_df['StrongSeedID'] = bracket.round_3_df['Strongseed Team'].astype(int)
bracket.round_3_df['WeakSeedID'] = bracket.round_3_df['Weakseed Team'].astype(int)
bracket.round_3_df['PredictionID'] = bracket.round_3_df['Prediction'].astype(int)
bracket.round_4_df['StrongSeedID'] = bracket.round_4_df['Strongseed Team'].astype(int)
bracket.round_4_df['WeakSeedID'] = bracket.round_4_df['Weakseed Team'].astype(int)
bracket.round_4_df['PredictionID'] = bracket.round_4_df['Prediction'].astype(int)
bracket.round_5_df['StrongSeedID'] = bracket.round_5_df['Strongseed Team'].astype(int)
bracket.round_5_df['WeakSeedID'] = bracket.round_5_df['Weakseed Team'].astype(int)
bracket.round_5_df['PredictionID'] = bracket.round_5_df['Prediction'].astype(int)
bracket.round_6_df['StrongSeedID'] = bracket.round_6_df['Strongseed Team'].astype(int)
bracket.round_6_df['WeakSeedID'] = bracket.round_6_df['Weakseed Team'].astype(int)
bracket.round_6_df['PredictionID'] = bracket.round_6_df['Prediction'].astype(int)

In [92]:
bracket.round_6_df.merge(teams[['TeamID', 'TeamName']], left_on='StrongSeedID', right_on='TeamID', suffixes=['','_strong'])\
.merge(teams[['TeamID', 'TeamName']], left_on='WeakSeedID', right_on='TeamID', suffixes=['','_weak'])\
.merge(teams[['TeamID', 'TeamName']], left_on='PredictionID', right_on='TeamID', suffixes=['','_pred'])\
[['Slot', 'StrongSeed','Strongseed Team','TeamName','WeakSeed','Weakseed Team','TeamName_weak',\
'TeamName_pred']]

,Slot,StrongSeed,Strongseed Team,TeamName,WeakSeed,Weakseed Team,TeamName_weak,TeamName_pred
0,R6CH,R5WX,1211,Gonzaga,R5YZ,1228,Illinois,Gonzaga

- b) Results

In [ ]:
# for comparison

# run greedy and top seed tourneys
year = min_year
top_seed_tourneys = []
actual_tourneys   = []

# analyze results for all simulations
i = 0
for year in year_range:
    # get data from our db
    seeds_year = seeds_arr[year-1985] 
    slots_year = slots_arr[year-1985] 
    #games_year = games_arr[year-1985]
    
    # get actual models
    actual_model = mmm.ActualTournament(games_arr[year-1985])
    actual_tourneys.append(mmc.Tournament(seeds_year, slots_year, actual_model, include_scoring_dif=False))
    
    # get top seed models
    top_seed_model = mmm.BasicPredictor()
    top_seed_tourneys.append(mmc.Tournament(seeds_year, slots_year, top_seed_model, include_scoring_dif=False))
    
    year = year + 1

In [ ]:
year = min_year

simulator_scores = np.zeros(len(year_range))
top_seed_scores = np.zeros(len(year_range))

# analyze results for all simulations
i = 0
for simulator in simulators:
    # get data from our db
    seeds_year = seeds_arr[year-1985] 
    slots_year = slots_arr[year-1985] 
    games_year = games_arr[year-1985]
    
    
    # score tournament 
    simulator_scores[i], x = simulator.score_tournament(actual_tourneys[i], print_res=True)
    top_seed_scores[i],  x = top_seed_tourneys[i].score_tournament(actual_tourneys[i], print_res=False)
    
    year = year + 1
    i = i + 1

In [ ]:
top_seed_scores

In [ ]:
simulator_scores

Our simulation method does better than just predicting the top seed, especially in 2016.

---

### 3) Predict 10 Brackets
- a) Ensemble Method

In [75]:
# buffers
ensembles = []

i = 0
for year in year_range:
    # get data from our db
    seeds_year = seeds_arr[year-1985] 
    slots_year = slots_arr[year-1985] 
    #games_year = games_arr[year-1985]
    
    # setup ensembles
    ensembles.append(mmc.Ensemble(seeds_arr[year-1985], 
                                   slots_arr[year-1985], 
                                   models[i], 
                                   scalers[i],  
                                   predictor_dfs, 
                                   year))
    
    i = i + 1

In [79]:
# buffers
ensemble_scores = np.zeros(len(year_range))
ind_bracket_scores = np.zeros((len(year_range), 10))

ensemble_dif_matrix = np.zeros((len(year_range), 10, 10))
ensemble_avg_dif = np.zeros((len(year_range), 10))
ensemble_dif_top_seed = np.zeros((len(year_range), 10))

i = 0
for year in year_range:
    # get data from our db
    seeds_year = seeds_arr[year-1985] 
    slots_year = slots_arr[year-1985] 
    #games_year = games_arr[year-1985]
    
    # setup ensembles
    ensemble_tournament = ensembles[i]
    
    # individual bracket scores
    #ind_bracket_scores[i, :] = ensemble_tournament.score_tournament(actual_tourneys[i])
    
    # ensemble score
    ensemble_scores[i] = np.max(ind_bracket_scores[i, :])
    
    # difference between brackets
    #ensemble_dif_matrix[i, :, :] = ensemble_tournament.compute_dif_matrix(actual_tourneys[i]) 
    #ensemble_avg_dif[i, :] = ensemble_tournament.avg_game_dif()
    #ensemble_dif_top_seed[i, :] =  ensemble_tournament.compute_dif_vect(actual_tourneys[i], top_seed_tourneys[i])
    
    i = i + 1

In [80]:
print(ensemble_scores)
print(simulator_scores)
print(top_seed_scores)

[0.]

NameError: name 'simulator_scores' is not defined

We see that the ensemble gives us a big boost in 2016, showing that the diversity of brackets is helpful.

---

### 4) Compare Our Brackets to the Field

- 2016
    - Ensemble: 1260 is the 99.2 percentile for 2016.
    - Single Bracket: 1000 is the 95 percentile for 2016.

- 2015
    - Ensemble: 980 is the 76 percentile for 2015.
    - Single Bracket: 960 is the 75 percentile for 2015.

---
### 5) Save Our Predictions

Send Predictions to CSVs for use on the website.

In [190]:
def add_team_name(bracket, teams):
    strong_seed_names = []
    weak_seed_names   = []
    prediction_names  = []
    
    for index, row in bracket.iterrows():
        # extract ids
        strong_seed_id = int(row["Strongseed Team"])
        weak_seed_id   = int(row["Weakseed Team"])
        prediction_id  = int(row["Prediction"])
        
        # reverse lookup
        strong_seed_team = teams[teams["Team_Id"] == strong_seed_id]["Team_Name"].values[0]
        weak_seed_team = teams[teams["Team_Id"] == weak_seed_id]["Team_Name"].values[0]
        prediction_team = teams[teams["Team_Id"] == prediction_id]["Team_Name"].values[0]
        
        # add to array
        strong_seed_names.append(strong_seed_team)
        weak_seed_names.append(weak_seed_team)
        prediction_names.append(prediction_team)
        
    bracket["Strongseed Team Name"] = strong_seed_names
    bracket["Weakseed Team Name"] = weak_seed_names
    bracket["Prediction Team Name"] = prediction_names
    
    return bracket

In [193]:
# save predictions

prediction_2015 = simulators[0].tournament_prediction.entire_bracket
prediction_2015 = add_team_name(prediction_2015, teams)
prediction_2015.to_csv("datasets/predictions/2015_single_bracket_prediction.csv")

prediction_2016 = simulators[1].tournament_prediction.entire_bracket
prediction_2016 = add_team_name(prediction_2016, teams)
prediction_2016.to_csv("datasets/predictions/2016_single_bracket_prediction.csv")

In [198]:
i = 0
for year in year_range:
    ensemble = ensembles[i]
    
    # iterate
    j = 0 
    for tourney in ensemble.tourney_arr:
        filepath = "datasets/predictions/{}_ensemble_bracket_{}_prediction.csv".format(year, j)
    
        # add team names
        bracket = tourney.entire_bracket
        bracket = add_team_name(bracket, teams)
        bracket.to_csv(filepath)
        
        j = j + 1
        
    i = i + 1

In [199]:
i = 0
for year in year_range:
    actual_results = actual_tourneys[i].entire_bracket
    
    filepath = "datasets/predictions/{}_actual_results".format(year)
    
    # add team names
    actual_results = add_team_name(actual_results, teams)
    actual_results.to_csv(filepath)
    
    i = i + 1

In [200]:
i = 0
for year in year_range:
    top_seed_results = top_seed_tourneys[i].entire_bracket
    
    filepath = "datasets/predictions/{}_low_seed_prediction".format(year)
    
    top_seed_results = add_team_name(top_seed_results, teams)
    top_seed_results.to_csv(filepath)
    
    i = i + 1